.home {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}

.heading {
    width: 100%;
    position: absolute;
    top: 30%;
    padding: 0.5rem;

}

.heading h1 {
    display: inline-block;
    font-size: 17vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -7px;
}

